html {
    height: 100% !important;
    overflow-y: scroll;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/background.jpg) no-repeat center top;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper {
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    overflow: hidden;
}

@media (min-width: 1230px) {
    .container {
        width: 1200px;
    }
}

/*================================================= HEADER ====================================================*/
.navbar {
    min-height: 40px;
    margin-bottom: 27px;
}

.navbar-default {
    background: linear-gradient(to top, #404b54, #4a5761);
    border: none;
    height: 40px;
}

.navbar-default .navbar-brand {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, .15);
    margin-left: 0px !important;
    padding: 10px 15px;
    height: 40px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, .25);
    padding: 10px 10px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}


.my-info {
    padding-left: 2px !important;
    padding-right: 5px !important;
}

@media (min-width: 768px) {
    .navbar-right {
        float: right!important;
        margin-right: 15px;
    }
}

.v-line {
    position: relative;
    float: left;
    top: 11px;
    height: 16px;
    border-left: 1px solid #343f47;
    border-right: 1px solid #727c84;
}

.icon-eject {
    display: inline-block;
    margin-right: 6px;
}

.icon-mail {
    display: inline-block;
    margin-right: 6px;
}


/*================================== Sidebar ==================================*/
.sidebar-wrapper {
    padding-left: 40px;
}


.sidebar {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 0;
    min-width: 220px;
    font-size: 13px;
    font-weight: bold;
}

.sidebar ul>li>a {
    color: #bedef8;
    padding: 4px 15px;
}

.sidebar ul>li>a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #fff;
}

.text-block-wrapper {
    padding-left: 30px;
}

.text-block {
    width: 90%;
}

.text-block h3 {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #666;
}

.text-head, .text-body {
    padding-left: 40px;
}

.text-body {
    padding-top: 25px;
    padding-right: 50px;
}


