/* Bootstrap style edit */
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: none;
}


body {
    padding-top: 50px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 22px;
}

.navbar-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
    font-weight: 600;
    height: 30px;
    line-height: 1;
    border-radius: 2px;
}

.flag {
    width: 15px;
}

/* SWITCHER

 * The Switch - the box around the slider */
.switch-wrap {
    margin-top: 12px;
    margin-bottom: 12px;
}

.switch {
    position: relative;
    top: 7px;
    display: inline-block;
    width: 28px;
    height: 12px;
    background-image: url(../img/switch-bg.png);
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 1px;
  left: 1px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-image: url(../img/switch.png);
    background-repeat: no-repeat;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

/* NAVBAR TWO */

.navbar-form {
    padding: 0;
}

div.dropdown {
    font-weight: 600;
}

.dropdown > a {
    padding: 0;
    font-size: 14px;
    color: #333;
}

.dropdown > a:hover {
    text-decoration: none;
}

.search-btn {
    font-weight: 600;
    width: 100%;
}

select:valid {
    color: #acacac;
}

input.form-control, select.form-control {
    width: 100% !important;
}

/* Flex Container */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 5 1 auto;
    align-self: auto;
    margin-top: 8px;
    padding-left: 0;
}

.flex-item:nth-child(2) {
    order: 0;
    flex: 5 1 auto;
    align-self: auto;
    padding-right: 0;
}

.flex-item:nth-child(3) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding-right: 0;
}

.flex-item:nth-child(4) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding-right: 0;
}

/* CONTENT */

.wrapper {
    width: 100%;
    padding: 0 15px;
}

/* Main Content */
.content {
    float: left;
    width: calc(100% - 150px * 2);
}

.container {
    padding-left: 0;
}

/* Masonry */
/*
.masonry-layout {
    column-count: 5;
    -webkit-column-count: 5;
    column-gap: 0;
    -webkit-column-gap: 0;
}

.masonry-layout_panel {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    padding: 5px;
}

.masonry-layout_panel-content {
    border-radius: 10px;
}
*/

.masonry-flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.masonry-flex-item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

/* Right Sidebar*/
.right-sidebar {
    width: 300px;
    float: right;
}

.img-wrap {
    margin-bottom: 10px;
}


/* Blocks masonry */
.block1 {
    width: 300px;
    height: 300px;
    background-color: #4467c4;
}

.block2 {
/*    width: 300px;*/
    height: 500px;
    background-color: #4467c4;
}

.block3 {
/*    width: 300px;*/
    height: 400px;
    background-color: #4467c4;
}

.block4 {
/*    width: 300px;*/
    height: 200px;
    background-color: #4467c4;
}

